@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;

}

@media (max-width:668px) {
    .nav-tabs > li {
        display:block;
        float:none;
    }
}


body {
    margin: 0 auto;
    background: #ededed;
    background: white;
    -webkit-overflow-scrolling: touch;
}

/* used */ .page_header {
    
    
    background: #f1f1f1;
    padding:10px;
  
    
}

.input-group {
    display: -webkit-inline-box;
}

.input-group-btn{
    width : 0px;
}
.fb_search {
    color:#337ab7;
    font-size: x-large;
    
   
    width: 250px;
    padding: 5px 0;
    width: 230px;
    height: 30px;
  
   
    float: left;
    line-height: 22px;

}
.progress {
   
   margin-left:20%;
   margin-top:15%;
   
}

.first{
    width: 10%;
}

.page_header .menu_toggle {
    background: none;
    border: none;
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
}

.page_header .menu_toggle .menu_toggle_button {
    color: black;
    padding: 10px;
}

.page_header .menu_toggle:focus {
    outline: none;
}

/* used */ .fb_search:hover{
    text-decoration: none;
}

/* used */ .search{
   
   
        flex: 0 0 100px;
        flex-grow: 1;
        align-items: center;
        margin-left:20vmax;

}


/* used */ 

/* used */  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    color:black;
}

/* used */ .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: #337ab7;
    }

#main_table{
    margin-top: 25px;
}
/* used */ .main_table th{
    width: 18%;
}

/*used */ #page-content-wrapper {
    margin-right: 30px;
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    z-index: 0;
}

.next,.previous{
    width:90px;
    height:30px;
        border-radius: 6px;
    border: 1px solid;
}

#back {
    border-radius:5px;
    
    border:1px solid #dedede;
    width: 70px;
    height: 35px;
    margin-left: 30px;
    padding: 0px 0px;
    background: none;
}



#back span{
    
    font-size: 16px;
   
}


#star {
    border-radius:5px;
    display: inline;
    outline:none;
    float:right;
    font-size:25px;
    background: none;
    margin-right: 20px;
    margin-top: 4px;
    border: 1px solid #dedede;
    width: 35px;
    height: 35px;
}


#star :hover{
    background: #dedede;
}
#star_1{
    display: inline; 
    background: none;  
    outline:none;
    float:center;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #dedede;
    width: 35px;
    height: 35px;
}

#fb_image{
    border-radius:5px;
    display: inline;
    outline:none;
    float:right;
    font-size:25px;
    margin-right: 30px;
    padding-right:4px;
    margin-top:4px;
    border: 1px solid #dedede;
    width: 35px;
    height: 35px;
    background: none;
}
#fb_image1 :hover{
    background: #dedede;
}
#fb_image1{
    border-radius:5px;
    display: inline;
    outline:none;
    background: none;
    float:right;
    border: 1px solid #dedede;
    width: 25px;
    height: 25px;
}

#albumPosts{
    margin-top:20px;
}

#details_table th{
    background: #e9e9e9;
}

.table-bordered>tbody>tr>td{
    border: 0px solid #ddd;
}
.panel {
    margin-bottom: 10px;
    }

.panel-heading a{
        text-decoration: none;
        color:black;
}

.panel-heading a:hover{
    color:blue;
    text-decoration: underline;
}
#empty {
    background-color: bisque;
}

.thumbnail{
    border:0px;
}

#delete{
    padding: 10px;
    background: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#delete :hover {
     background: #dedede;
}


  

    
    .animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 1,1) 0.25s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 1,1) 0.25s;
    -o-transition:all cubic-bezier(1,1,1,1) 0.25s; 
    transition:all cubic-bezier(1,1,1,1) 0.25s;
  
  opacity:1;
  padding:10px;
  
  background:white;
  position: relative;
  right: 0;
}


  



.animate-hide.ng-hide {
  right: -100%;
  opacity:1;
  padding:0 10px;
}
